/* latin-ext */
@font-face {
    font-family: 'Edu AU VIC WA NT Hand';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/eduauvicwanthand/v1/C8c94dY1tX2x0uuiUHFS4y7ERV-jfqJ6x06dH9MtW4Q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Edu AU VIC WA NT Hand';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/eduauvicwanthand/v1/C8c94dY1tX2x0uuiUHFS4y7ERV-jfqJ6x06dEdMt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
*{
    margin:0;
    padding:0;
    overflow-y: hidden;
}
html,body{
    height:600px !important;
    width:400px !important;
    overflow-y: hidden;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.bg{
    width:100%;
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    background: url(../Img/bg.jpg);
    z-index: 1;
}


.content{
    width:100%;
    height:100%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    background-color: rgba(0,0,0,0.0);
}

.navbar{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img{
    height:80px;
    
}

.login-here{
    color: #ce2828;
    margin-bottom:5px;
}
.signup {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-weight: 600;
}
.signup p{
    color: #ce2828;
    margin:5px;
}

.signup-here{
    color: #ce2828;
    margin-bottom:5px;
}
.button {
    border-radius: 14px;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.login {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login form{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 20px;

}
.mail{
    height: 30px;
}
.pass{
    height: 30px;
}

.forminput{
    width:80%;
    margin:10px;
    padding:10px;
    border:none;
    border-radius: 5px;
    color:#1a1a1a;
}

.formbtn{
    width:50%;
    padding:10px;
    font-size: 20px;
    color:#fff;
    background-color: #ce2828;
    margin:20px;
    border:none;
    border-radius: 5px;
}



.loader{
    width:100%;
    display: none;
    height:600px;
    position: fixed;
    z-index: 3;
    background-color: rgba(0,0,0,0.9);

    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.loader img{
    width:50%;
}

.error-popup{
    display: none;
    width:95%;
    z-index: 4;
    background-color: #ff1100;
    height:auto;
    position: fixed;
    top:0;
}
.error-popup p{
    padding:10px;
    font-size: 15px;
    color:#fff;
}

.success-popup{
    display: none;
    width:100%;
    z-index: 4;
    background-color: #12b6a3;
    height:auto;
    position: fixed;
    top:0;
}
.success-popup p{
    padding:10px;
    font-size: 15px;
    color:#fff;
}


#main-body{
    width:400px;
    height:600px;
    background:url(../Img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#data{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:600px;
    min-height: min-content;
    overflow:scroll;
}

#data {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
#data::-webkit-scrollbar { 
    display: none;  
}
.element{
    display: flex;
    width:90%;
    flex-shrink: 0;
    justify-content: space-between;
    color:#fff;

    border-radius: 20px;
    margin-top:10px;
    
}
.element div{
    display: flex;
    padding:10px;
    
}
.element .url{
    width:70%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color:#1a1a1a;
}
.element .url a{
    text-decoration: none;
    color:#ce2828;
}
.element .source{
    display: flex;
    justify-content: center;
    font-weight: 300;
    background-color: #ce2828;
    color:#fff;
    width:30%;
}
#addbtn{
    position: fixed;
    bottom:10px;
    left:50%;
    transform: translate(-50%, 0);
    width:90%;
    padding-top:5px;
    border-radius: 50px;
    padding-bottom:5px;
    border:none;
    font-size: 15px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    background-color: #ce2828;
}

.header{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: none;
}
.header img{
    height:40px;
    margin-left:10px;
}
.header button{
    color:#ce2828;
    padding-left:20px;
    margin-right:10px;
    border:1px solid #ce2828;
    border-radius: 20px;
    padding-right: 20px;
    background: none;
    
    font-size: 15px;
}
.header button:hover{
    background-color: #ce2828;
    color:#fff;
    border:none;
}
.selectSocialoverlay{
    width:100%;
    height:600px;
    position: fixed;
    z-index:2;
    background-color: rgb(206,40,40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.selectSocialoverlay .grid{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    height:auto;
    padding:10px;
    background-color: #fff;
}
.selectSocialoverlay .grid .obj{
    width:80px;
    height:80px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectSocialoverlay .grid img{
    width:95%;

}
.selectSocialoverlay h1{
    color:#fff;
    font-size: 15px;
    margin:10px;
}
.selectSocialoverlay button{
    background-color: #fff;
    color:#ce2828;
}
.addhandleform{
    width: 100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addhandleform input[type="text"]{
    width:80%;
    padding:15px;
    border:none;
    background-color: #fff;
    border-radius: 10px;
    font-size:15px;
}

.addhandleform #openoverlayaddsocial{
    width:80%;
    padding:20px;
    background: #ce2828;
    border:2px solid #b41b1b;
    border-radius: 10px;
    color:#fff;
    font-size:15px;
    margin:10px;
}

.addhandleform #socialpreview{
    width:100px;
    margin:20px;
}
#data p{
    color:#ce2828;
    font-size: 15px;
}